In [1]:
import pandas as pd

In [2]:
# read measuremets data into a df
measurements = pd.read_csv("Resources/hawaii_measurements.csv")
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
# read stations data into a df
stations = pd.read_csv("Resources/hawaii_stations.csv")
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
# check if any column has the nans
stations.isnull().any()

station      False
name         False
latitude     False
longitude    False
elevation    False
dtype: bool

In [9]:
# check if any column has the nans
measurements.isnull().any()

station    False
date       False
prcp        True
tobs       False
dtype: bool

In [10]:
# count total number of nans
measurements.isnull().sum().sum()

1447

In [13]:
# check number of records each station has
measurements.groupby('station').count()

             date  prcp  tobs
station
USC00511918  1979  1932  1979
USC00513117  2709  2696  2709
USC00514830  2202  1937  2202
USC00516128  2612  2484  2612
USC00517948  1372   683  1372
USC00518838   511   342   511
USC00519281  2772  2772  2772
USC00519397  2724  2685  2724
USC00519523  2669  2572  2669

In [14]:
# drop nas from measurements 
clean_measurements = measurements.dropna()

In [15]:
# check if nans exist
clean_measurements.isnull().any()

station    False
date       False
prcp       False
tobs       False
dtype: bool

In [16]:
#save cleaned df to csv
clean_measurements.to_csv("Resources/clean_measurements.csv", index=False)
stations.to_csv("Resources/clean_stations.csv", index=False)